

<footer class="footer bg-slate-900">
    <div class="container">
       <div class="row">
          <div class="footer-col">
            <img class="logo footer-logo" src="{{ url_for('static', path='/Imgs/logo.png') }}" alt="not found">
          </div>
          <div class="footer-col">
             <h4>Diseases</h4>
             <ul>
                <li><a href="/HTML/lung-cancer.html">Lung Cancer</a></li>
                <li><a href="/HTML/diabetes.html">Diabetes</a></li>
                <li><a href="/HTML/brain-tumor.html">Brain Tumor </a></li>
              
                
             </ul>
          </div>
          <div class="footer-col">
             <h4>About Us</h4>
             <ul>
                <li><a href="/HTML/aboutUs.html">about us</a></li>
                
             </ul>
          </div>
          <div class="footer-col">
             <h4>follow us</h4>
             <div class="social-links">
                <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
             </div>
          </div>
       </div>
    </div>
 </footer>