<!-- <header class="header-section relative fixed w-full bg-white shadow-xl h-28 top-0 left-0">
    <a href="/HTML/index.html" class="logo"><img src="/Imgs/logo.png" alt=""></a>
    <a href="/" class="logo"><img src="{{ url_for('static', path='/Imgs/logo.png') }}" alt=""></a>
    <ul class="all-header">
       <li><a class="active" href="/">Home</a></li>
       <li><a class="active" href="/about">About Us</a></li>
       <li><a href="/" class="border-purple-600 text-black px-3 py-2 transition-all duration-100 hover:border-b-4 hover:text-purple-600">Home2</a></li>
    </ul>
   
 </header> -->

 <header class="header-section relative ">
   <a href="/HTML/index.html"  class="logo"><img src="{{ url_for('static', path='/Imgs/logo.png') }}" alt=""></a>
   <ul class="all-header">
      <li><a class="active" href="/">Home</a></li>
      <li><a class="actives" href="/diabetes">Diabetes</a></li>
      <li><a class="actives" href="/lungcancer">Lung Cancer</a></li>
      <li><a class="actives" href="/braintumor">Brain Tumor</a></li>
      <!-- <li><a class="actives" href="#">Contact</a></li> -->

   </ul>
   <!-- <div class="hamburger">
      <i class="fa-solid fa-bars"></i>
      <i class="fa-solid fa-xmark"></i>
   </div> -->
</header>