{% extends 'base.html'  %}
{% block content %}
<div class="parent">
    <div class="card-sections">
       <h2 class="subheading">About Us</h2>
       <div class="card-list">
          <div class="card" data-aos="fade-up">
             <img src="{{ url_for('static', path='/Imgs/user1.jpg') }}" alt="loading..">
             <div class="layer layer2">
                <h3>Pravinkumar Sharma</h3>
                <p>Im a frontend developer </p>
                <a href="edin.com/in/pravinkumar-sharma-750510230/"><i class="fab fa-linkedin-in"></i></a>
             </div>

          </div>
          <div class="card" data-aos="fade-up">
             <img src="{{ url_for('static', path='/Imgs/user1.jpg') }}" alt="loading..">
             <div class="layer layer2">
                <h3>Pravinkumar Sharma</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor qui dicta aperiam esse fugiat </p>
                <a href="edin.com/in/pravinkumar-sharma-750510230/"><i class="fab fa-linkedin-in"></i></a>
             </div>

          </div>
          <div class="card" data-aos="fade-up">
             <img src="{{ url_for('static', path='/Imgs/user1.jpg') }}" alt="loading..">
             <div class="layer layer2">
                <h3>Pravinkumar Sharma</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor qui dicta aperiam esse fugiat </p>
                <a href="edin.com/in/pravinkumar-sharma-750510230/"><i class="fab fa-linkedin-in"></i></a>
             </div>

          </div>
          <div class="card" data-aos="fade-up">
             <img src="{{ url_for('static', path='/Imgs/user1.jpg') }}" alt="loading..">
             <div class="layer layer2">
                <h3>Pravinkumar Sharma</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor qui dicta aperiam esse fugiat </p>
                <a href="edin.com/in/pravinkumar-sharma-750510230/"><i class="fab fa-linkedin-in"></i></a>
             </div>

          </div>
          
          
          <!-- <div class="card" data-aos="fade-down">
             <img src="/Imgs/card1.avif" alt="loading..">
             <div class="layer">
                <h3>Disease 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor qui dicta aperiam esse fugiat </p>
                <button class="btn">First disesase</button>
             </div>

          </div> -->
       </div>

    </div>
 </div>
{% endblock content %}