<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='/css/footer.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='/css/index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='/css/aboutUs.css') }}"
    />
  </head>
  <body>
    {% include 'includes/nav.html' %} {% block content %}{% endblock content %}
    {% include 'includes/footer.html' %}
  </body>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    window.addEventListener("scroll", () => {
      let header = document.querySelector(".header-section");
      header.classList.toggle("sticky", window.scrollY > 100);
    });
  </script>
</html>
